{% extends "base.html" %}

{% block content %}

<div>
	<br>
		Pls make a potato
	<br>
		Criteria for potato making: 
	<br>
		1. Must be lumpy
	<br>
		2. Must be squishy
	<br>
		3. Must be funny looking
	<br>
		Otherwise, it is not an og potato. 
</div>




<br>
	<form action="/make" method="post">
		<div>
			<label for="name">Name:</label>
			<input type="text" id="name" />
		</div>
		<div>
			<label for="descripton">Description:</label>
			<textarea id="description"> </textarea>
		</div>
		<div class="button">
			<button type="submit">Submit</button>
	</form>








{% endblock %}